<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hijo</title>
  </head>
  <body>
    <h1>Soy el hijo de la familia, mi nombre es {{nombre}}</h1>
    <h2>Nací el {{fecha_nac}}</h2>
    <h3>Y tengo {{edad}} años</h3>
    <p>Este soy yo:</p>
    <img
      style="max-width: 2000px"
      src="https://images.pexels.com/photos/5380635/pexels-photo-5380635.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="Hijo"
    />
  </body>
</html>
