<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Padre</title>
  </head>
  <body>
    <h1>Soy el padre de la familia, mi nombre es {{nombre}}</h1>
    <h2>Nací el {{fecha_nac}}</h2>
    <p>Y tengo {{edad}} años</p>
    <img
      style="max-width: 200px"
      src="https://images.pexels.com/photos/2182970/pexels-photo-2182970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="Padre"
    />
  </body>
</html>
